---
---

@import "{{ site.theme }}";
.toggle {
}

//Style toggle
.toggle-label {
  cursor: pointer;
  display: inline;

  &:after {
    content: "+";
  }
}

//Style content
.toggle-content {
}

.toggle-input {
  display: none; //Hide input element

  &:not(checked) ~ .toggle-content {
    display: none; //Hide content
  }
}

//Display content when checkbox is "checked"
.toggle-input:checked {
  ~ .toggle-content {
    display: inline;
  }

  ~ .toggle-label {
    &:after {
      content: "-"; //Change label's '+' to '-' when checked
    }
  }
}
