<script language="javascript"> 
function toggle(divID,toggleID) {
    var ele = document.getElementById({{include.divID}});
    var text = document.getElementById({{include.toggleID}});
    if(ele.style.display == "block") {
            ele.style.display = "none";
        text.innerHTML = "Abstract";
    }
    else {
        ele.style.display = "block";
        text.innerHTML = "Hide Abstract";
       previous = item;
    }
} 
</script>

{{include.papertitle}}  
{{include.coauthors}}
<blockquote>
<a id="{{include.toggleID}}" href="javascript:toggle('{{include.divID}}','{{include.toggleID}}');">Abstract</a>
<div id="{{include.divID}}" style="display: none">{{include.abstext}}</div> <br>
</blockquote>
