<script language="javascript"> 
function toggle(divID,toggleID) {
    var ele = document.getElementById(divID);
    var text = document.getElementById(toggleID);
    if(ele.style.display == "inline") {
            ele.style.display = "none";
        text.innerHTML = "Abstract";
    }
    else {
        ele.style.display = "inline";
        text.innerHTML = "Hide Abstract";
       previous = item;
    }
} 
</script>

<a id="{{include.toggleID}}" href="javascript:toggle('{{include.divID}}','{{include.toggleID}}');">Abstract</a>
<div id="{{include.divID}}" style="display: none">{{include.abstext}}</div>
